.about {
  padding-top: 0;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__list {
    margin-top: 50px;
    list-style: none;
    display: flex;
    gap: 30px;
  }

  &__item {
    position: relative;
    width: 370px;
  }

  &__desc {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 70px;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}
