.clients {
  &__title {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-weight: 700;
    // font-size: 36px;
    // line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &__icon {
    fill: currentColor;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  //   width: 170px;
  height: 92px;

  color: var(--clients-link-cl);
  border: 1px solid var(--clients-link-cl);
  border-radius: 4px;

  transition: border-color var(--animation), color var(--animation);

  //   &:hover,
  //   &:focus {
  //     border-color: var(--clients-link-bg-cl);
  //     color: var(--clients-link-bg-cl);
  //   }
}

@media screen and (max-width: 479px) {
  .clients {
    &__title {
      font-size: 28px;
      line-height: calc(33 / 28);
    }
  }

  .clients__link {
    min-width: 130px;

    &:active {
      border-color: var(--clients-link-bg-cl);
      color: var(--clients-link-bg-cl);
    }
  }
}

@media screen and (min-width: 480px) {
  .clients {
    &__title {
      font-size: 28px;
      line-height: calc(33 / 28);
    }
  }

  .clients__link {
    width: 210px;

    &:active {
      border-color: var(--clients-link-bg-cl);
      color: var(--clients-link-bg-cl);
    }
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    &__title {
      font-size: 36px;
      line-height: calc(42 / 36);
    }
  }

  .clients__link {
    width: 170px;

    &:hover,
    &:focus {
      border-color: var(--clients-link-bg-cl);
      color: var(--clients-link-bg-cl);
    }
  }
}
