.features {
    padding-top: 94px;

    &__list {
        list-style: none;
        display: flex;
    
        gap: 30px;
    }

    &__item {
        width: 270px;
    }    

    &__link {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 270px;
        height: 120px;

        background-color: var(--features-link-bg-cl);
        border-radius: 4px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__desc {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--features-txt-cl);
    }
}











