.footer__form {
    margin-left: auto;

    &-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: var(--footer-txt-cl);
    }
}

.footer__form-input {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 20px;
    margin-right: 12px;

    width: 358px;
    height: 50px;

    color: var(--footer-txt-cl);
    background-color: transparent;

    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: border var(--animation);

    &:hover,
    &:focus {
        border: 1px solid var(--modal-imput-cl);
    }
    
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }
}

.footer__btn {
    display: inline-flex;
    cursor: pointer;
    padding-left: 29px;

    gap: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;

    border: 0;
    width: 200px;
    height: 50px;

    outline: none;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color var(--animation);

    &:hover,
    &:focus {
        background-color: var(--modal-btn-bg-hover-cl);
    }
}
