.footer {
  &__socials-container {
    // margin-left: 70px;
  }

  &__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--footer-txt-cl);
  }

  &__socials {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    fill: currentColor;
  }
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  color: var(--footer-link-txt-cl);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--animation);

  // &:hover,
  // &:focus {
  //     background-color: var(--footer-link-hover-focus);
  // }
}

@media screen and (max-width: 767px) {
  .footer {
    &__socials-container {
      text-align: center;
      margin-top: 60px;
    }

    &__socials {
      justify-content: center;
    }
  }

  .footer__link {
    &:active {
      background-color: var(--footer-link-hover-focus);
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__socials-container {
      text-align: center;
      margin-top: 0;
    }

    &__socials {
      justify-content: center;
    }
  }

  .footer__link {
    &:active {
      background-color: var(--footer-link-hover-focus);
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__socials-container {
      margin-left: 70px;
    }
  }

  .footer__link {
    &:hover,
    &:focus {
      background-color: var(--footer-link-hover-focus);
    }
  }
}
