.footer {
  background: var(--footer-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    // display: flex;
    align-items: baseline;
  }

  &__logo {
    font-family: var(--secondary-font);
    text-decoration: none;
    font-weight: 700;
    // font-size: 26px;
    // line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--footer-logo-txt-cl);
  }

  &__logo-studio {
    color: var(--footer-logo-studio-txt-cl);
  }

  &__address {
    width: 231px;
    margin-top: 20px;
  }

  &__list {
    list-style: none;
  }
}

.footer__address {
  :not(:first-child) {
    // margin-top: 9px;
  }
}

.footer__map {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-map-txt-cl);

  transition: color var(--animation);

  // &:focus,
  // &:hover {
  //     color: var(--header-hover-focus-cl);
  // }
}

.footer__mail {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-mail-phone-txt-cl);

  transition: color var(--animation);

  // &:focus,
  // &:hover {
  //     color: var(--header-hover-focus-cl);
  // }
}

.footer__phone {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-mail-phone-txt-cl);

  transition: color var(--animation);

  // &:focus,
  // &:hover {
  //     color: var(--header-hover-focus-cl);
  // }
}

@media screen and (max-width: 767px) {
  .footer {
    &__container {
      display: block;
    }

    &__logo {
      font-size: 24px;
      line-height: calc(28 / 24);
    }

    &__address {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .address__container {
    text-align: center;
  }
}

.footer__address {
  :not(:first-child) {
    margin-top: 8px;
  }
}

.footer__map {
  &:active {
    color: var(--header-hover-focus-cl);
  }
}

.footer__mail {
  &:active {
    color: var(--header-hover-focus-cl);
  }
}

.footer__phone {
  &:active {
    color: var(--header-hover-focus-cl);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__container {
      display: block;
    }

    &__contacts {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }

    &__logo {
      font-size: 24px;
      line-height: calc(28 / 24);
    }

    &__address {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .address__container {
    text-align: center;
  }
}

.footer__address {
  :not(:first-child) {
    margin-top: 8px;
  }
}

.footer__map {
  &:active {
    color: var(--header-hover-focus-cl);
  }
}

.footer__mail {
  &:active {
    color: var(--header-hover-focus-cl);
  }
}

.footer__phone {
  &:active {
    color: var(--header-hover-focus-cl);
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__container {
      display: flex;
    }

    &__contacts {
      align-items: baseline;
    }

    &__logo {
      font-size: 26px;
      line-height: 1.2;
    }
  }

  .footer__address {
    :not(:first-child) {
      margin-top: 9px;
    }
  }

  .address__container {
    text-align: start;
  }

  .footer__map {
    &:focus,
    &:hover {
      color: var(--header-hover-focus-cl);
    }
  }

  .footer__mail {
    &:focus,
    &:hover {
      color: var(--header-hover-focus-cl);
    }
  }

  .footer__phone {
    &:focus,
    &:hover {
      color: var(--header-hover-focus-cl);
    }
  }
}
