.header__contacts-list {
  display: flex;
  margin-left: auto;

  gap: 50px;
}

@media screen and (min-width: 480px) {
  .header__contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts-list {
    display: block;
  }

  .header__contacts-mail {
    padding: 5px 0;
    font-size: 12px;
    line-height: calc(14 / 12);

    &:active {
      color: var(--header-hover-focus-cl);
    }
  }

  .header__contacts-phone {
    padding: 5px 0;
    font-size: 12px;
    line-height: calc(14 / 12);

    &:active {
      color: var(--header-hover-focus-cl);
    }
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-list {
    display: flex;
  }

  .header__contacts-mail {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;

    &:focus,
    &:hover {
      color: var(--header-hover-focus-cl);
    }
  }

  .header__contacts-phone {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;

    &:focus,
    &:hover {
      color: var(--header-hover-focus-cl);
    }
  }
}

.header {
  &__contacts-mail {
    display: flex;

    align-items: center;
    text-decoration: none;
    font-weight: 500;

    letter-spacing: 0.02em;
    color: var(--header-contacts-txt-cl);

    transition: color var(--animation);
  }

  &__contacts-phone {
    display: flex;

    align-items: center;
    text-decoration: none;
    font-weight: 500;

    letter-spacing: 0.02em;
    color: var(--header-contacts-txt-cl);

    transition: color var(--animation);
  }

  &__contacts-icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
