.header {
  border-bottom: 1px solid var(--header-line-cl);
}

.header__logo {
  font-family: var(--secondary-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: var(--header-logo-txt-cl);

  margin-top: 16px;
  margin-bottom: 16px;

  &-studio {
    color: var(--header-logo-studio-txt-cl);
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}
