.hero {
  background: var(--hero-bg-cl);
  //   padding-top: 200px;
  //   padding-bottom: 200px;

  //   max-width: 1600px;
  //   max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/team.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__main-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    // width: 696px;
    font-weight: 900;
    // font-size: 44px;
    // line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-txt-cl);
  }
}

.hero__btn {
  margin: 0 auto;
  padding: 10px 32px;
  font-family: var(--main-font);
  cursor: pointer;
  background: var(--hero-btn-bg-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-btn-txt-cl);

  transition: background var(--animation);

  &:focus,
  &:hover {
    background: var(--hero-hover-focus-btn-bg-cl);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 480px;
    max-height: 400px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero/header-img@1x_mb.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/hero/header-img@2x_mb.jpg);
    }
  }

  .hero__main-title {
    width: 360px;
    font-size: 26px;
    line-height: calc(42 / 26);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    max-height: 400px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero/header-img@1x_tab.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/hero/header-img@2x_tab.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    max-height: 600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero/header-img@1x_des.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/hero/header-img@2x_des.jpg);
    }
  }

  .hero__main-title {
    width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}
