.project__list {
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project__item {
    width: 370px;
}

.project__link {
    display: block;

    transition: box-shadow var(--animation);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay,
    &:focus .overlay {
        transform: translate(0);
    }
}

.project__overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(0, 100%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 24px;

    background-color: rgba(33, 150, 243, 0.9);

    transition: transform var(--animation);

    &__text {
        color: #ffffff;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;

        text-align: left;
        user-select: none;
    }
}

.project__text {
    border: 1px solid var(--project-tet-border);
    padding: 20px 24px;
}

.project__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--project-subtitle-txt-cl);
}

.project__desc {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--project-txt-cl);
}

