.filter {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        justify-content: center;

        list-style: none;
        display: flex;
        gap: 8px;
    }
}

.filter__btn {
    padding: 6px 22px;
    font-family: var(--main-font);
    cursor: pointer;
    background: var(--portfolio-btn-bg-cl);
    border-radius: 4px;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;

    transition: background var(--animation), color var(--animation), box-shadow var(--animation);

    &:focus,
    &:hover {
        background: var(--portfolio-btn-bg-hover-focus-cl);
        color: var(--portfolio-btn-txt-hover-focus-cl);

        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
