.team {
  background: var(--team-bg-cl);

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__list {
    // margin-top: 50px;

    list-style: none;
    // display: flex;
    gap: 30px;
  }

  &__item {
    // width: 270px;
    background: var(--team-item-bg-cl);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__text {
    padding-top: 30px;
    // padding-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__desc {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--team-txt-cl);
  }
}

@media screen and (max-width: 479px) {
  .team {
    &__list {
      display: block;
      margin-top: 30px;
    }

    &__item {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__text {
      padding-bottom: 24px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team {
    &__list {
      display: block;
      margin-top: 30px;
    }

    &__item {
      width: 450px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__text {
      padding-bottom: 24px;
    }
  }
}

@media screen and (min-width: 768px) {
  .team {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    &__item {
      width: 354px;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &__text {
      padding-bottom: 24px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    &__item {
      width: 270px;
    }
    &__text {
      padding-bottom: 30px;
    }
  }
}
