.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity var(--animation), visibility var(--animation);

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;

    width: 528px;
    height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;

    transition: fill var(--animation);

    &:hover,
    &:focus {
        fill: var(--modal-imput-cl);
    }
}



.modal-form {
    display: flex;
    flex-direction: column;

    &__title {
        display: block;
        margin-bottom: 12px;
    
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
    }
}

.modal__group {
    display: flex;
    flex-direction: column;
}

.modal__form-group {
    position: relative;
    display: block;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}



.modal__form-label {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;

    color: var(--modal-txt-cl);
}

.modal__form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    outline: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--animation);

    &:hover,
    &:focus {
        outline: none;
        border: 1px solid var(--modal-imput-cl);
    }

    &:hover+.form__icon,
    &:focus+.form__icon {
        fill: var(--modal-imput-cl);
    }
}



.form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;

    transition: fill var(--animation);
}



.modal__form-textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:hover,
    &:focus {
        outline: none;
        border: 1px solid var(--modal-imput-cl);
    }
}

.modal__checkbox {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    &-icon {
        transform: translate(0, 15%);
    }
}





.modal__checkbox-icon--check {
    opacity: 0;
    transition: opacity var(--animation);
    outline: none;

    .modal__checkbox-input:checked+.modal__checkbox-icon & {
        opacity: 1;
        outline: none;
    }
}

.modal__checkbox-icon--uncheck {
    transition: opacity var(--animation);
    outline: none;

    .modal__checkbox-input:checked+.modal__checkbox-icon & {
        opacity: 0;
        outline: none;
    }
}



.modal__checkbox-label {
    user-select: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: var(--modal-txt-cl);
}

.modal__checkbox-treaty {
    outline: none;
    color: var(--modal-link-txt-cl);
}

.checkbox__btn {
    display: flex;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    border: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 50px;

    outline: none;
    color: var(--modal-btn-txt-cl);
    background: var(--modal-btn-bg-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color var(--animation);

    &:hover,
    &:focus {
        background-color: var(--modal-btn-bg-hover-cl);
    }
}
