.socials {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;

  &__icon {
    fill: currentColor;
  }
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  color: var(--socials-link-cl);
  border-radius: 50%;

  transition: background-color var(--animation), color var(--animation);
}

@media screen and (min-width: 480px) {
  .socials__link {
    &:active {
      background-color: var(--socials-link-bg-cl);
      color: var(--socials-icon-cl);
    }
  }
}

@media screen and (min-width: 1200px) {
  .socials__link {
    &:hover,
    &:focus {
      background-color: var(--socials-link-bg-cl);
      color: var(--socials-icon-cl);
    }
  }
}
